{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="text-align:center;background-image:url({% static '/images/destination_9.jpg' %}); background-size:100%">
<h1>LOG IN</h1>
<form action="login" method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>

    <input type="submit">

</form>
{% for i in messages %}
{{i}}
{% endfor %}
</body>
</html>